{% extends "base.html" %}
{% load static %}
<title>{% block title %}Home{% endblock %}</title>
{% block content %}
<div class="container-fluid">
    <!-- upper main stats -->
    <div id="main-stats">
        <div class="row-fluid stats-row">
            <div class="span3 stat">
                <div class="data">
                    <span class="number">2457</span>
                    visits
                </div>
                <span class="date">Today</span>
            </div>
            <div class="span3 stat">
                <div class="data">
                    <span class="number">3240</span>
                    users
                </div>
                <span class="date">February 2014</span>
            </div>
            <div class="span3 stat">
                <div class="data">
                    <span class="number">322</span>
                    orders
                </div>
                <span class="date">This week</span>
            </div>
            <div class="span3 stat last">
                <div class="data">
                    <span class="number">$2,340</span>
                    sales
                </div>
                <span class="date">last 30 days</span>
            </div>
        </div>
    </div>
    <!-- end upper main stats -->

    <div id="pad-wrapper">

        <!-- statistics chart built with jQuery Flot -->
        <div class="row-fluid chart">
            <h4>
                登录统计
                <div class="btn-group pull-right">
                    <button class="glow left">DAY</button>
                    <button class="glow middle active">MONTH</button>
                    <button class="glow right">YEAR</button>
                </div>
            </h4>
            <div class="span12">
                <div id="statsChart"></div>
            </div>
        </div>
        <!-- end statistics chart -->

    </div>
</div>
<script src="{% static  "js/jquery.knob.js" %}"></script>
<script src="{% static "js/jquery.flot.js" %}"></script>
<script src="{% static "js/jquery.flot.stack.js" %}"></script>
<script src="{% static "js/jquery.flot.resize.js" %}"></script>
<script src="{% static "js/base.js" %}"></script>
{% endblock %}


