{% extends "base.html" %}
<title>{% block title %}主机列表{% endblock %}</title>
{% block content %}
{% load static %}
<link href="{% static "css/compiled/tables.css"  %}" type="text/css" rel="stylesheet" />
<link href="{% static "css/lib/font-awesome.css"  %}" type="text/css" rel="stylesheet" />
<div id="pad-wrapper" class="users-list">
    <div class="row-fluid header">
        <h3>用户列表</h3>
        <div class="span10 pull-right">
            <input type="text" class="span5 search" placeholder="Type a user's name..." />

            <!-- custom popup filter -->
            <!-- styles are located in css/elements.css -->
            <!-- script that enables this dropdown is located in js/theme.js -->
            <div class="ui-dropdown">
                <div class="head" data-toggle="tooltip" title="Click me!">
                    Filter users
                    <i class="arrow-down"></i>
                </div>
                <div class="dialog">
                    <div class="pointer">
                        <div class="arrow"></div>
                        <div class="arrow_border"></div>
                    </div>
                    <div class="body">
                        <p class="title">
                            Show users where:
                        </p>
                        <div class="form">
                            <select>
                                <option />Name
                                <option />Email
                                <option />Number of orders
                                <option />Signed up
                                <option />Last seen
                            </select>
                            <select>
                                <option />is equal to
                                <option />is not equal to
                                <option />is greater than
                                <option />starts with
                                <option />contains
                            </select>
                            <input type="text" />
                            <a class="btn-flat small">Add filter</a>
                        </div>
                    </div>
                </div>
            </div>

            <a href="new-user.html" class="btn-flat success pull-right">
                <span>&#43;</span>
                NEW USER
            </a>
        </div>
    </div>

    <!-- Users table -->
    <div class="row-fluid table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="span1 sortable">
                    用户名
                </th>
                <th class="span1 sortable">
                    <span class="line"></span>名字
                </th>
                <th class="span1 sortable">
                    <span class="line"></span>创建日期
                </th>

                <th class="span1 sortable">
                    <span class="line"></span>Email
                </th>
                <th class="span1 sortable">
                    <span class="line"></span>用户状态
                </th>
                <th class="span1 sortable">
                    <span class="line"></span>操作
                </th>
            </tr>
            </thead>
            <tbody>
            {% if user_info %}
            {% for u in user_info %}
            <!-- row -->
            <tr class="first">
                <td>
                    <a href="user-profile.html" class="name">{{ u.username }}</a>
                </td>
                <td>
                    {{ u.last_name }}
                </td>
                <td>
                    {{ u.date_joined|date:"Y-m-d-H:m:s" }}
                </td>

                <td class="align-left">
                    {{ u.email }}
                </td>
                {% if u.is_active %}
                <td>
                    <span class="label btn-success">Active</span>
                </td>
                {% else %}
                <td>
                    <span class="label">Disable</span>
                </td>
                {% endif %}
                <td class="align-left">
                    <a href="{% url 'user_edit' %}?id={{ u.id }}">Edit</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>


        </table>
    </div>
    <div class="pagination pull-right">
        <ul>
            <li><a href="#">&#8249;</a></li>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&#8250;</a></li>
        </ul>
    </div>
    <!-- end users table -->
</div>







{% endblock %}